<!doctype html>
<html ng-app="app">
  <head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Servidor de archivos</title>
  </head>

  <body ng-controller="myController">

    <div>
      <h1>Servidor de archivos</h1>
      <div class="form-group">
          <input name="file" type="file" id="inputFileServer" class="form-control"  />
          <button type="submit"  ng-click=addFile()>Agregar Archivo</button> <!-- class="btn btn-primary"-->
      </div>
      <div class="form-group">
          <input name="file" type="file" id="inputUffOptimizer" class="form-control"  />
          <button type="submit"  ng-click=uffop()>Agregar Archivo</button> <!-- class="btn btn-primary"-->
      </div>
      <table class="table">
      	<thead>
      		<tr>
      			<th>ID</th>
      			<th>Archivo</th>
            <th>Contador</th>
            <th>Acción</th>
            <th>&nbsp;</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <tr ng-repeat="file in files">
      			<td>{{file._id}}</td>
      			<td>{{file.name}}</td>
            <td>{{file.cont}}</td>
            <td><button class="btn btn-warning" ng-click="download(file._id)">Descargar</button></td>
            <td><button class="btn btn-denger" ng-click="remove(file._id)">Borrar</button></td>
            <td><button class="btn btn-denger" ng-click="strjs(file._id)">StringFile</button></td>
          </tr>
      	</tbody>
      </table>
    </div>
  </body>

</html>
